.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #d2d5d5;
  border-top: 8px solid #39adb7;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 0.5s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 500px) {
  .loader {
    border: 6px solid #d2d5d5;
    border-top: 6px solid #39adb7;
    width: 60px;
    height: 60px;
  }
} */
